<div>
	<% @grades.each do |grade| %>
		<p><%= link_to "#{grade.gpa} #{Course.find(grade.course_id).name}", grade_path(grade) %></p>
	<% end %>

	<b><%= link_to 'Create a new Grade', new_grade_path %></b>
</div>