<header class="contain">
  <h1 class="h3 brand pull-left">schoolio</h1>
  <nav class="pull-right">
    <li>
      <%= link_to 'about', 'https://github.com/zpfled/schoolio', method: :get, class: '' %>
    </li>
    <% if signed_in?(@user) %>
      <li>
        <%= button_to 'log out', signout_path, method: :delete, class: "btn" %>
      </li>
    <% else %>
      <li>
        <button id="signup" class="signup btn">sign up</button>
      </li>
      <li>
        <button id="login" class="login btn">log in</button>
      </li>
    <% end %>
  </nav>
</header>
