<section class="messages">
  <div class="modal message-modal hidden contain">
    <h2 class="message black-scrim"></h2>
  </div>
  <div id="login-form-modal" class="modal hidden">
    <%= render 'partials/sign_in' %>
    <button class="btn close">close</button>
  </div>
  <div id="signup-form-modal" class="modal hidden">
    <%= render 'partials/sign_up' %>
    <button class="btn close">close</button>
  </div>
  <div id="new_course-form-modal" class="modal hidden">
    <%= render 'partials/new_course' %>
    <button class="btn close">close</button>
  </div>
</section>
