<section class="contain bcg index">
  <div class="contain scrim black-scrim">
    <div class="contain tag-container">
      <h2 class="tag">watch yourself learn.</h2>
      <p class="sub-tag content">( also, see if your teachers are any good )</p>
      <button id="signup-big" class="signup btn btn-big btn-secondary">get started now</button>
    </div>
  </div>
</section>
