
<div id="chart"></div>
<button>hi bud</button>
<%= link_to 'settings', edit_user_path %>
<%= button_to 'Delete User', @user, method: :delete %>
<%=@user.first_name%>
<% @user.courses.each do |course| %>
  <li> <%= link_to course.name, course %></li>
<%end%>
