<button>hi bud</button>
<%= link_to 'settings', ( @user.class == Student ? edit_student_path : edit_instructor_path ) %>
<%= button_to 'Delete User', @user, method: :delete %>
<%=@user.first_name%>
<% @user.courses.each do |course| %>
  <li> <%= link_to course.name, course %></li>
<%end%>
