$primary-color: #345975;
$primary-light: #89aeca;
$secondary-color: #ef290b;
$alt-color: #dedede;
$white: #fdfdfd;
$white-scrim: rgba(255, 255, 255, .75);
$black: #444;

$sans-serif-font: 'Raleway';
$serif-font: 'Josefin Slab'

