@import 'variables';

.instructor-info li{
  color: #000000;
}

.instructor-info {
  margin-left: 10%;
  margin-top: 8%;
}

.edit-student {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(top, $black, $white);
  background: -o-linear-gradient(top, $black, $white);
  background: -moz-linear-gradient(top, $black, $white);
  background: linear-gradient(top, $black, $white);
}
