@import 'variables';

/*
Background
*/

.dashboard {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(top, $black, $white);
  background: -o-linear-gradient(top, $black, $white);
  background: -moz-linear-gradient(top, $black, $white);
  background: linear-gradient(top, $black, $white);
}

sidebar {
  background-color: #222;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  /*overflow: hidden;*/
  /*text-align: left;*/

  padding: 15% 1em;

  .avatar {
    width: 90%;
    border: 2px solid $white;
    border-radius: 5%;
  }

  .sidebar-header {
    color: $white;
  }

  .profile {
    p {
      color: $primary-color;
      text-align: left;
    }
  }
}
