@import 'variables';

/*
Background
*/

.dashboard {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(top, $black, $white);
  background: -o-linear-gradient(top, $black, $white);
  background: -moz-linear-gradient(top, $black, $white);
  background: linear-gradient(top, $black, $white);
}

sidebar {
  background-color: #222;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  left: 0;
  /*overflow: hidden;*/
  /*text-align: left;*/

  padding: 15% 1em;

  .avatar {
    width: 90%;
    border: 2px solid $white;
    border-radius: 5%;
  }

  .sidebar-header {
    color: $white;
  }

  .profile {
    p {
      color: $primary-color;
      text-align: left;
    }
  }
}

#class-list, #class-info {
  margin-left: 30%;
  margin-right: 20%;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  color: black;
  text-decoration: none;
}

#course-gpa {
  margin-top: 5px;
}

/*#class-list p {
  display: none;
  text-align: left;
}*/


